:root {
	--imgw: 209px;
	--imgh: 212px;
	--imgtw: 429px;
	--imgth: 476px;

	--imgexpandshiftx: calc(((var(--imgtw) * 1.2) - var(--imgtw)) * 0.5 * -1);
	--imgexpandshifty: calc(((var(--imgth) * 1.2) - var(--imgth)) * 0.5 * -1);
}

#dante_image > * {
	position: absolute;
}

#dante_image {
	position: relative;
	overflow: hidden;
	width: var(--imgtw);
	height: var(--imgth);
	border: black 1px solid;

}

@keyframes rotation {
	from {
		transform: rotate(359deg);
		transform-origin: var(--imgw) var(--imgh);
	}

	to {
		transform: rotate(0deg);
		transform-origin: var(--imgw) var(--imgh);
	}

}

@keyframes rotationOpposite {
	from {
		transform: rotate(540deg);
		transform-origin: 251px 254px;
	}

	to {
		transform: rotate(180deg);
		transform-origin: 251px 254px;
	}

}

@keyframes rotationReverse {
	from {
		transform: rotate(359deg);
		transform-origin: var(--imgw) var(--imgh);
	}

	to {
		transform: rotate(0deg);
		transform-origin: var(--imgw) var(--imgh);
	}

}

.dante_1 {
	z-index: 8;
}

.dante_2 { 
	z-index: 7;
	animation: rotation infinite 35s linear;
}

.dante_3 {
	z-index: 6;
	animation: rotationOpposite infinite 35s linear;
	width: calc(var(--imgtw) * 1.2);
	height: auto;
	top: var(--imgexpandshifty);
	left: var(--imgexpandshiftx);
	will-change: transform; 
}

.dante_4 {
	z-index: 5;
	animation: rotation infinite 35s linear;
	will-change: transform; 
}

.dante_5 {
	z-index: 4;
	animation: rotation infinite 30s linear;
	will-change: transform; 
}

.dante_6 {
	z-index: 3;
	animation: rotation infinite 32s linear;
	will-change: transform; 
}

.dante_7 {
	z-index: 2;
	animation: rotation infinite 25s linear;
	will-change: transform; 
}

.dante_8 {
	z-index: 1;
}


.dante_background {
	z-index: -100;
}
